In [2]:
import pandas as pd

In [22]:
df=pd.read_csv("C:/Users/Admin.local/Documents/Projet_final_data/candidats_results.csv",on_bad_lines='skip',sep=';',encoding='utf-8')

C:\Users\Admin.local\AppData\Local\Temp\ipykernel_60108\2431057980.py:1: DtypeWarning: Columns (2,4,6,7,8,12,13,14,15,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("C:/Users/Admin.local/Documents/Projet_final_data/candidats_results.csv",on_bad_lines='skip',sep=';',encoding='utf-8')

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27097161 entries, 0 to 27097160
Data columns (total 18 columns):
 #   Column                Dtype
---  ------                -----
 0   id_election           object
 1   id_brut_miom          object
 2   Code du département   object
 3   Code de la commune    int64
 4   Code du b.vote        object
 5   N°Panneau             float64
 6   Libellé Abrégé Liste  object
 7   Libellé Etendu Liste  object
 8   Nom Tête de Liste     object
 9   Voix                  float64
 10  % Voix/Ins            float64
 11  % Voix/Exp            float64
 12  Sexe                  object
 13  Nom                   object
 14  Prénom                object
 15  Nuance                object
 16  Binôme                object
 17  Liste                 object
dtypes: float64(4), int64(1), object(13)
memory usage: 3.6+ GB

In [6]:
df.head(4)

,id_election,id_brut_miom,Code du département,Code de la commune,Code du b.vote,N°Panneau,Libellé Abrégé Liste,Libellé Etendu Liste,Nom Tête de Liste,Voix,% Voix/Ins,% Voix/Exp,Sexe,Nom,Prénom,Nuance,Binôme,Liste
0,2019_euro_t1,01001_0001,01,1,0001,1.0,La France Insoumise,La France Insoumise,AUBRY Manon,13.0,2.16,4.14,NaN,NaN,NaN,NaN,NaN,NaN
1,2019_euro_t1,01002_0001,01,2,0001,1.0,La France Insoumise,La France Insoumise,AUBRY Manon,6.0,2.86,4.44,NaN,NaN,NaN,NaN,NaN,NaN
2,2019_euro_t1,01004_0001,01,4,0001,1.0,La France Insoumise,La France Insoumise,AUBRY Manon,39.0,3.71,8.23,NaN,NaN,NaN,NaN,NaN,NaN
3,2019_euro_t1,01004_0002,01,4,0002,1.0,La France Insoumise,La France Insoumise,AUBRY Manon,42.0,3.80,7.78,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.columns

Index(['id_election', 'id_brut_miom', 'Code du département',
       'Code de la commune', 'Code du b.vote', 'N°Panneau',
       'Libellé Abrégé Liste', 'Libellé Etendu Liste', 'Nom Tête de Liste',
       'Voix', '% Voix/Ins', '% Voix/Exp', 'Sexe', 'Nom', 'Prénom', 'Nuance',
       'Binôme', 'Liste'],
      dtype='object')

In [8]:
df['id_election'].unique()

array(['2019_euro_t1', '2017_legi_t1', '2022_legi_t1', '2021_dpmt_t2',
       '2022_pres_t2', '2020_muni_t2', '2017_pres_t1', '2022_legi_t2',
       '2021_dpmt_t1', '2017_pres_t2', '2022_pres_t1', '2017_legi_t2',
       '2008_muni_t1', '2008_muni_t2', '2024_legi_t2', '2024_legi_t1',
       '2024_euro_t1', '2020_muni_t1', '2015_regi_t2', '2015_regi_t1',
       '2021_regi_t2', '2021_regi_t1', '2002_legi_t1', '2002_legi_t2',
       '2010_regi_t1', '2010_regi_t2', '2004_cant_t1', '2004_cant_t2',
       '2001_cant_t1', '2001_cant_t2', '2008_cant_t1', '2008_cant_t2',
       '1999_euro_t1', '2004_euro_t1', '2004_regi_t1', '2014_euro_t1',
       '2011_cant_t1', '2011_cant_t2', '2007_pres_t1', '2007_pres_t2',
       '2002_pres_t1', '2002_pres_t2', '2015_dpmt_t1', '2015_dpmt_t2',
       '2009_euro_t1', '2007_legi_t1', '2007_legi_t2', '2012_legi_t1',
       '2012_legi_t2', '2012_pres_t1', '2012_pres_t2', '2014_muni_t1',
       '2014_muni_t2'], dtype=object)

In [25]:
df_gal=pd.read_csv("../Projet_final_data/general_results.csv",on_bad_lines='skip',sep=';',encoding='utf-8')

C:\Users\Admin.local\AppData\Local\Temp\ipykernel_60108\148133584.py:1: DtypeWarning: Columns (2,3,6,22,24) have mixed types. Specify dtype option on import or set low_memory=False.
  df_gal=pd.read_csv("../Projet_final_data/general_results.csv",on_bad_lines='skip',sep=';',encoding='utf-8')

In [26]:
df_gal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3013073 entries, 0 to 3013072
Data columns (total 25 columns):
 #   Column                         Dtype
---  ------                         -----
 0   id_election                    object
 1   id_brut_miom                   object
 2   Code du département            object
 3   Libellé du département         object
 4   Code de la commune             int64
 5   Libellé de la commune          object
 6   Code du b.vote                 object
 7   Inscrits                       int64
 8   Abstentions                    int64
 9   % Abs/Ins                      float64
 10  Votants                        int64
 11  % Vot/Ins                      float64
 12  Blancs                         float64
 13  % Blancs/Ins                   float64
 14  % Blancs/Vot                   float64
 15  Nuls                           int64
 16  % Nuls/Ins                     float64
 17  % Nuls/Vot                     float64
 18  Exprimés                       int64
 19  % Exp/Ins                      float64
 20  % Exp/Vot                      float64
 21  Code de la circonscription     float64
 22  Libellé de la circonscription  object
 23  Code du canton                 float64
 24  Libellé du canton              object
dtypes: float64(11), int64(6), object(8)
memory usage: 574.7+ MB

In [10]:
df_gal.head(5)

,id_election,id_brut_miom,Code du département,Libellé du département,Code de la commune,Libellé de la commune,Code du b.vote,Inscrits,Abstentions,% Abs/Ins,...,Nuls,% Nuls/Ins,% Nuls/Vot,Exprimés,% Exp/Ins,% Exp/Vot,Code de la circonscription,Libellé de la circonscription,Code du canton,Libellé du canton
0,2019_euro_t1,01001_0001,01,Ain,1,L'Abergement-Clémenciat,0001,601,268,44.59,...,18,3.00,5.41,314,52.25,94.29,NaN,NaN,NaN,NaN
1,2019_euro_t1,01002_0001,01,Ain,2,L'Abergement-De-Varey,0001,210,69,32.86,...,2,0.95,1.42,135,64.29,95.74,NaN,NaN,NaN,NaN
2,2019_euro_t1,01004_0001,01,Ain,4,Ambérieu-En-Bugey,0001,1050,548,52.19,...,13,1.24,2.59,474,45.14,94.42,NaN,NaN,NaN,NaN
3,2019_euro_t1,01004_0002,01,Ain,4,Ambérieu-En-Bugey,0002,1106,527,47.65,...,24,2.17,4.15,540,48.82,93.26,NaN,NaN,NaN,NaN
4,2019_euro_t1,01004_0003,01,Ain,4,Ambérieu-En-Bugey,0003,1058,485,45.84,...,8,0.76,1.40,551,52.08,96.16,NaN,NaN,NaN,NaN

In [12]:
df_gal.tail(5)

,id_election,id_brut_miom,Code du département,Libellé du département,Code de la commune,Libellé de la commune,Code du b.vote,Inscrits,Abstentions,% Abs/Ins,...,Nuls,% Nuls/Ins,% Nuls/Vot,Exprimés,% Exp/Ins,% Exp/Vot,Code de la circonscription,Libellé de la circonscription,Code du canton,Libellé du canton
3013068,2014_muni_t2,ZP057_0002,ZP,NaN,57,Ua-Pou,0002,157,15,9.55,...,1,0.64,0.70,141,89.81,99.30,NaN,NaN,NaN,NaN
3013069,2014_muni_t2,ZP057_0006,ZP,NaN,57,Ua-Pou,0006,70,7,10.00,...,0,0.00,0.00,63,90.00,100.00,NaN,NaN,NaN,NaN
3013070,2014_muni_t2,ZP058_0001,ZP,NaN,58,Uturoa,0001,1179,350,29.69,...,10,0.85,1.21,819,69.47,98.79,NaN,NaN,NaN,NaN
3013071,2014_muni_t2,ZP058_0002,ZP,NaN,58,Uturoa,0002,1029,225,21.87,...,8,0.78,1.00,796,77.36,99.00,NaN,NaN,NaN,NaN
3013072,2014_muni_t2,ZP058_0003,ZP,NaN,58,Uturoa,0003,1120,222,19.82,...,20,1.79,2.23,878,78.39,97.77,NaN,NaN,NaN,NaN

In [11]:
df_gal.columns

Index(['id_election', 'id_brut_miom', 'Code du département',
       'Libellé du département', 'Code de la commune', 'Libellé de la commune',
       'Code du b.vote', 'Inscrits', 'Abstentions', '% Abs/Ins', 'Votants',
       '% Vot/Ins', 'Blancs', '% Blancs/Ins', '% Blancs/Vot', 'Nuls',
       '% Nuls/Ins', '% Nuls/Vot', 'Exprimés', '% Exp/Ins', '% Exp/Vot',
       'Code de la circonscription', 'Libellé de la circonscription',
       'Code du canton', 'Libellé du canton'],
      dtype='object')

In [13]:
df_gal['id_election'].unique()

array(['2019_euro_t1', '2017_legi_t1', '2022_legi_t1', '2021_dpmt_t2',
       '2022_pres_t2', '2020_muni_t2', '2017_pres_t1', '2022_legi_t2',
       '2021_dpmt_t1', '2017_pres_t2', '2022_pres_t1', '2017_legi_t2',
       '2008_muni_t1', '2008_muni_t2', '2024_legi_t2', '2024_legi_t1',
       '2024_euro_t1', '2020_muni_t1', '2015_regi_t2', '2015_regi_t1',
       '2021_regi_t2', '2021_regi_t1', '2002_legi_t1', '2002_legi_t2',
       '2010_regi_t1', '2010_regi_t2', '2004_cant_t1', '2004_cant_t2',
       '2001_cant_t1', '2001_cant_t2', '2008_cant_t1', '2008_cant_t2',
       '1999_euro_t1', '2004_euro_t1', '2004_regi_t1', '2014_euro_t1',
       '2011_cant_t1', '2011_cant_t2', '2007_pres_t1', '2007_pres_t2',
       '2002_pres_t1', '2002_pres_t2', '2015_dpmt_t1', '2015_dpmt_t2',
       '2009_euro_t1', '2007_legi_t1', '2007_legi_t2', '2012_legi_t1',
       '2012_legi_t2', '2012_pres_t1', '2012_pres_t2', '2014_muni_t1',
       '2014_muni_t2'], dtype=object)

In [28]:
df_adresse=pd.read_csv("../Projet_final_data/table-adresses-reu.csv",on_bad_lines='skip',sep=',',encoding='utf-8')

C:\Users\Admin.local\AppData\Local\Temp\ipykernel_60108\794494570.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df_adresse=pd.read_csv("../Projet_final_data/table-adresses-reu.csv",on_bad_lines='skip',sep=',',encoding='utf-8')

In [29]:
df_adresse.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15970992 entries, 0 to 15970991
Data columns (total 12 columns):
 #   Column                       Dtype
---  ------                       -----
 0   code_commune_ref             object
 1   reconstitution_code_commune  int64
 2   id_brut_bv_reu               object
 3   id                           object
 4   geo_adresse                  object
 5   geo_type                     object
 6   geo_score                    float64
 7   longitude                    float64
 8   latitude                     float64
 9   api_line                     object
 10  nb_bv_commune                int64
 11  nb_adresses                  int64
dtypes: float64(3), int64(3), object(6)
memory usage: 1.4+ GB

In [17]:
df_adresse.head(5)

,code_commune_ref,reconstitution_code_commune,id_brut_bv_reu,id,geo_adresse,geo_type,geo_score,longitude,latitude,api_line,nb_bv_commune,nb_adresses
0,1001,2,01001_1,01001_0045,Rue des Bles d'Or 01400 L'Abergement-Clémenciat,street,0.85,4.926090,46.151757,BANN,1,5
1,1001,1,01001_1,01001_0040_00101,101 Impasse Bellevue 01400 L'Abergement-Clémen...,housenumber,0.91,4.924261,46.134889,BANG,1,1
2,1001,1,01001_1,01001_0175_00106,106 Route des Garaudes 01400 L'Abergement-Clém...,housenumber,0.91,4.923428,46.133930,BANG,1,1
3,1001,1,01001_1,01001_0230_00190,190 Impasse des Lilas 01400 L'Abergement-Cléme...,housenumber,0.91,4.923083,46.146773,BANG,1,2
4,1001,2,01001_1,01001_0175_00192,192 Route des Garaudes 01400 L'Abergement-Clém...,housenumber,0.95,4.923743,46.133608,BANG,1,3

In [18]:
df_adresse['geo_type'].unique()

array(['street', 'housenumber', 'municipality', 'locality',
       'interpolation', 'village'], dtype=object)

In [19]:
df_adresse.columns

Index(['code_commune_ref', 'reconstitution_code_commune', 'id_brut_bv_reu',
       'id', 'geo_adresse', 'geo_type', 'geo_score', 'longitude', 'latitude',
       'api_line', 'nb_bv_commune', 'nb_adresses'],
      dtype='object')

In [33]:
df_bv=pd.read_csv("../Projet_final_data/table-bv-reu.csv",on_bad_lines='skip',sep=',',encoding='utf-8')

C:\Users\Admin.local\AppData\Local\Temp\ipykernel_60108\1553609784.py:1: DtypeWarning: Columns (2,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_bv=pd.read_csv("../Projet_final_data/table-bv-reu.csv",on_bad_lines='skip',sep=',',encoding='utf-8')

In [34]:
df_bv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68839 entries, 0 to 68838
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id_brut_reu          68839 non-null  object
 1   id_brut_insee        68813 non-null  object
 2   code_commune         68839 non-null  object
 3   code                 68838 non-null  object
 4   libelle_reu          68835 non-null  object
 5   num_voie_reu         68839 non-null  object
 6   voie_reu             68839 non-null  object
 7   cp_reu               68839 non-null  object
 8   commune_reu          63444 non-null  object
 9   nb_adresses_initial  68839 non-null  int64
 10  nb_adresses_final    68839 non-null  float64
 11  id_brut_miom         68715 non-null  object
dtypes: float64(1), int64(1), object(10)
memory usage: 6.3+ MB

In [35]:
df_bv.head(5)

,id_brut_reu,id_brut_insee,code_commune,code,libelle_reu,num_voie_reu,voie_reu,cp_reu,commune_reu,nb_adresses_initial,nb_adresses_final,id_brut_miom
0,01001_1,1001_1,01001,1,bureau 1,,Salle des fêtes,01400,abergement clemenciat,448,448.0,01001_0001
1,01002_1,1002_1,01002,1,mairie,1,Place de la Mairie,01640,l abergement de varey,157,143.0,01002_0001
2,01004_1,1004_1,01004,1,b1 espace 1500,,AVENUE LEON BLUM,01500,amberieu en bugey,633,630.0,01004_0001
3,01004_2,1004_2,01004,2,b2 espace 1500,,AVENUE LEON BLUM,01500,amberieu en bugey,640,638.0,01004_0002
4,01004_3,1004_3,01004,3,b3 chateau des echelles,,RUE DES ARENES,01500,amberieu en bugey,736,730.0,01004_0003

In [30]:
df_nuance=pd.read_csv("../Projet_final_data/nuances.csv",on_bad_lines='skip',sep=',',encoding='utf-8')

In [31]:
df_nuance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  86 non-null     int64
 1   Nuance      86 non-null     object
 2   Libellé     86 non-null     object
dtypes: int64(1), object(2)
memory usage: 2.1+ KB

In [5]:
df=pd.read_csv("C:/Users/Admin.local/Documents/Projet_final_data/Piketty_data/elections_fusionnees_cleaned_with_names_clusters.csv",on_bad_lines='skip',sep=';',encoding='utf-8')

In [12]:
df.columns

Index(['{'], dtype='object')